.nowrap-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  font-size: 20px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.icon:hover {
  transform: scale(1.2);
}

.teal {
  color: teal;
}

.yellow {
  color: rgb(134, 134, 0);
}

.red {
  color: #c31d1d;
}

.desktop-only {
  display: table-cell;
}

.desktop-only-customer {
  display: block;
}

.mobile-only {
  display: none;
}

/* Responsive styles */
@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .desktop-only-customer {
    display: none;
  }
  .mobile-only {
    display: table-cell;
  }

  .icon {
    font-size: 20px;
  }
}
.actions-text {
  color: #007bff;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  transition: color 0.3s ease-in-out;
}

.actions-text:hover {
  color: #0056b3;
  text-decoration: underline;
}

/* Optional: Style the dropdown */
.custom-dropdown .dropdown-menu {
  border-radius: 8px;
  border: 1px solid #ddd;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

/*** card style ****/
/* Responsive */
@media only screen and (max-width: 768px) {
  .desktop-only {
    display: none;
  }
  .desktop-only-customer {
    display: none;
  }
  .mobile-only {
    display: block;
  }

  .mobile-card {
    background: white;
    margin: 10px 0;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .mobile-card p {
    margin: 8px 0;
    font-size: 14px;
  }

  .mobile-card .icon {
    margin-left: 5px;
  }
}
