.mobile_menu_icon {
  display: none;
}

@media only screen and (min-width: 300px) and (max-width: 500px) and (min-height: 500px) and (max-height: 1200px) {
  .mobile_menu_icon {
    display: block;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px 10px 10px;
  }
}
