.layout {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

.navbar_2 {
  /* height: 60px; */
  width: 100%;
}

.main-content {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
  /* padding: 0px 30px 0px 40px; */
  overflow-y: auto;
  background-color: whitesmoke;
}

/* Mobile View */
@media only screen and (min-width: 300px) and (max-width: 500px) and (min-height: 500px) and (max-height: 1200px) {
  .content {
    flex-grow: 1;
    padding: 0px 20px 0px 20px;
    overflow: hidden;
  }

  .main-content {
    display: flex;
  }
}
