name: Deploy Vite App to S3
 
on:
  push:
    branches: [main]
 
jobs:
  deploy:
    runs-on: ubuntu-latest
 
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v2
 
      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18
 
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
 
      - name: Install Dependencies
        run: npm i
 
      - name: Build Vite App
        run: npm run build
 
      - name: Deploy to S3
        run: aws s3 sync dist/ s3://erp.drydash.in --delete